//- Pug Functions and Mixins
-
  var randID = function () { 
    return '_' + Math.random().toString(36).substr(2, 9) 
  }

mixin mdi(icon='')
  span.iconify-inline(data-icon!='mdi:'+icon)&attributes(attributes)

//- This button will automatically attach a '.selected' class to itself.
//- Has no intrinsic styling.
mixin button(toggle=true, clickaway=false)
  button.pug-button(
    type='button'
    data-register='pug-button'
    data-toggle=toggle
    data-clickaway=clickaway)&attributes(attributes)
      block

//- Tooltips.
mixin tooltip(tip='')
  - var tooltipID = '_' + Math.random().toString(36).substr(2, 9)
  - var contentID = '_' + Math.random().toString(36).substr(2, 9)
  span.tooltip(tabindex='0' aria-labledby=contentID aria-describedby=tooltipID role='tooltip')
    span.tooltip_tip(id=tooltipID)!=tip
    span.tooltip_content(id=contentID)
      block

//- Intended for the nav topbar.
//- Should be completely accessible.
mixin nav-dropdown(label='')
  div.pug-nav-dropdown(
  role='presentation'
  data-register='pug-nav-dropdown')&attributes(attributes)
  
    +button(true, true).pug-nav-dropdown_button(
      role='menuitem' 
      aria-haspopup='true'
      aria-expanded='false').
      #{label} #[+mdi('chevron-down').pug-nav-dropdown_button_icon]  

    div.pug-nav-dropdown_list(role='menu' aria-label=label)
      block

//- Prestyled, button like links for the dropdown.
mixin nav-dropdown-link(href='')
  a.pug-nav-dropdown_link(
    role='menuitem'
    href=href).btn&attributes(attributes)
    block

//- Helper mixins for ARIA tabs.
mixin tab-button(prefix='', name='', defaultState=false)
  +button()(
    id=prefix + '_button_' + name
    class=defaultState ? 'selected' : ''
    role='tab'
    aria-selected=String(defaultState)
    aria-expanded=String(defaultState)
    aria-controls=prefix + '_panel_' + name)&attributes(attributes)
    block

mixin tab-panel(prefix='', name='', defaultState=false)
  div(
    id=prefix + '_panel_' + name
    class='tab-panel'
    role='tabpanel'
    aria-labelledby=prefix + '_button_' + name
    tabindex='0'
    data-expanded=String(defaultState))&attributes(attributes)
    block