doctype html
<html lang='en'>
head
  //- Functionality
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  //- This site is not optimized for PWA usage at the moment.
    However, it could be quite well-suited for it.
  //- link(rel='manifest' href='/site.webmanifest')

  //- Style Preloads
  link(rel='preload' href='/static/css/critical.css' as='style')
  link(rel='preload' href='/static/css/main.css' as='style')
  //- Main JS Preloads
  link(rel='modulepreload' href='/static/js/mainframe.js')
  link(rel='modulepreload' href='/static/js/svelte_lib.js')
  //- Dependencies Preloads
  link(rel='modulepreload' href='/static/js/modules/util.js')
  link(rel='modulepreload' href='/static/js/modules/api.js')
  link(rel='modulepreload' href='/static/snowpack/env.js')
  //- Web Module Preloads
  link(rel='modulepreload' href='/web_modules/faunadb.js')

  //- Preconnects and Prefetches
  link(rel='prefetch' href='/static/media/logo.svg')
  link(rel='prefetch' href='/static/media/spinner.svg')
  link(rel='preconnect' href='https://db.fauna.com')

  //- Misc.
  link(rel='author' href='humans.txt')

  //- Opengraph Static
  meta(property='og:url' content='https://www.scp-mainframe.app')
  meta(property='og:type' content='website')
  meta(property='og:image' content='/static/media/meta_header.png')

  //- Twitter Static
    If used officially, 'twitter:creator' would be removed.
    Linking to an article on Twitter may confuse the reader into thinking I (Monkatraz) made it.
  meta(name='twitter:card' content='summary')
  meta(name='twitter:site' content='@scpwiki')
  meta(name='twitter:creator' content='@monkatraz')


  //- Dynamic Metadata
    All of this will change depending on the loaded article.
  - var metaTitle = 'SCP MAINFRAME'
  - var metaDescription = 'An (unofficial) experimental SCP Wiki replacement design concept.'
  title #{metaTitle}
  meta(property='og:title' content=metaTitle)
  meta(name="description" content=metaDescription)
  meta(property='og:description' content=metaDescription)
  

  //- Theming, Icons
  - var metaThemeColor = '#850005'
  meta(name='theme-color' content=metaThemeColor)
  meta(name='msapplication-TileColor' content=metaThemeColor)

  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='mask-icon' href='/safari-pinned-tab.svg' color=metaThemeColor)

  //- Critical Stylesheet
  link(rel='stylesheet', href='/static/css/critical.css')

  //- Pug Mixins
  include _basic-mixins

body
  //- All nodes which do not have an explicit categorical/semantic or utility function should:
        * be checked for if they have any reason to exist
        * have their role set to 'presentation'
      This will ensure that cosmetic nodes are transparent inside the accessibility tree.
  div#app(role='presentation')

    header#header(aria-label='Page Header')
      div#header_logo(role='presentation')
        a#logo_link(href='/' title='Go to home page')
        img#logo_emblem(
          src='/static/media/logo.svg'
          alt='SCP Foundation Logo')
        h1#logo_title THE MAINFRAME
        small#logo_slogan Secure, Contain, Protect

    nav#navbar(aria-label='Navigation')

    //- All 'dynamic' content, including the sidebar.
    aside#sidebar(aria-label='Sidebar')

    main#content(aria-label='Content')

      div#page(role='presentation')

    footer#footer

  div#script-container(role='presentation' style='display: none;')
    script(src='/static/js/mainframe.js' type='module')
    script(src='/static/js/svelte_lib.js' type='module')
</html>
