doctype html
<html lang='en'>
head
  //- Functionality
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  //- This site is not optimized for PWA usage at the moment.
    However, it could be quite well-suited for it.
  //- link(rel='manifest' href='/site.webmanifest')

  //- Preloads, Preconnects, and Prefetches
  link(rel='preload' href='/static/css/main.css' as='style')
  //- We don't prefetch every font file, but we make sure that the basic fonts can display.
  link(rel='prefetch' href='/static/fonts/variable/Rubik-VariableFont.woff2')
  link(rel='prefetch' href='/static/fonts/variable/Inter-VariableFont.woff2')
  link(rel='prefetch' href='/static/fonts/variable/FiraCode-VF.woff2')
  link(rel='prefetch' href='/static/fonts/variable/Vollkorn-VariableFont.woff2')
  link(rel='prefetch' href='/static/media/logo.svg')
  link(rel='prefetch' href='/static/media/spinner.svg')
  //- Preconnecting to FDB lets us load our home page a lot faster.
  link(rel='preconnect' href='https://db.fauna.com')

  //- Misc.
  link(rel='author' href='humans.txt')

  //- Opengraph Static
  meta(property='og:url' content='https://www.scp-mainframe.app')
  meta(property='og:type' content='website')
  //- TODO: make a proper meta_header image
  meta(property='og:image' content='/static/media/meta_header.png')

  //- Twitter Static
    If used officially, 'twitter:creator' would be removed.
    Linking to an article on Twitter may confuse the reader into thinking I (Monkatraz) made it.
  meta(name='twitter:card' content='summary')
  meta(name='twitter:site' content='@scpwiki')
  meta(name='twitter:creator' content='@monkatraz')

  //- Dynamic Metadata
    All of this will change depending on the loaded article.
  - var metaTitle = 'SCP MAINFRAME'
  - var metaDescription = 'An (unofficial) experimental SCP Wiki replacement design concept.'
  title #{metaTitle}
  meta(property='og:title' content=metaTitle)
  meta(name="description" content=metaDescription)
  meta(property='og:description' content=metaDescription)

  //- Theming, Icons
  - var metaThemeColor = '#850005'
  meta(name='color-scheme' content='dark light')
  meta(name='theme-color' content=metaThemeColor)
  meta(name='msapplication-TileColor' content=metaThemeColor)

  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
  link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
  link(rel='mask-icon' href='/safari-pinned-tab.svg' color=metaThemeColor)

  //- Finalize assets
  link(rel='stylesheet', href='/static/css/main.css')
  script(src='/static/js/mainframe.js' type='module')

  //- Pug Mixins
  include _basic-mixins

body
  header#header(aria-label='Page Header')
    div#header_logo(role='presentation')
      a#logo_link(href='/' title='Go to home page')
      img#logo_emblem(
        src='/static/media/logo.svg'
        alt='SCP Foundation Logo')
      h1#logo_title THE MAINFRAME
      small#logo_slogan Secure, Contain, Protect

  //- App itself - loaded as a Svelte component.
  div#app(role='presentation')

  //- Set the footer to display none and override it with !important for better page loading visuals
  footer#footer
    ul#footer_list
      li Powered by #[span#footer_pmf MAINFRAME].
      li: +link('https://github.com/Monkatraz/mainframe') #[+mdi('github')] Github
      li: +link('http://www.scpwiki.com/') #[+sfi()] SCP-Wiki

</html>
